{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHPROJECT
        {% block titulo %}
        {% endblock titulo %}
    </title>
</head>
<body>
    {% include 'partials/header.html' %}

    <!-- Como un enlace -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cerrar Sesion</a>
      <h1 class= 'justify-content-center' > GESTION DE COLABORADORES </h1>
    </div>
  </nav>
  
  <!-- Como un encabezado -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>

    {% block contenido %}
    {% endblock contenido %}
    
    {% include 'partials/footer.html' %}



    
</body>
</html>