{% load static %}
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    
    <img class="bd-placeholder-img" width="10%" height="10%" src="{% static 'img/sst.jpg' %}"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
    <img class="bd-placeholder-img" width="10%" height="10%" src="{% static 'img/logocol.png' %}"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>