{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-11 mx-10">
            <div class="card">
                <div class="card-body">
                    <nav class="navbara navbar-expand-lg navbar-light navbar-static-top custom-navbar">
                        <div class="collapse navbar-collapse">
                            <div class="navbar-nav">
                                <a href="/bd_colaboradores/{{idUser_id}}" class="link flex">
                                    <i class="fab fa-wpforms"></i>
                                    <span>Formulario SD</span>
                                    <a href="/Info_Familiar_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-users"></i>
                                        <span>Familiares </span>
                                    </a>
                                    <a href="/Info_Mascotas_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-cat"></i>
                                        <span>Mascotas </span>
                                    </a>
                                    <a href="/Info_Educacion_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-graduation-cap"></i>
                                        <span>Educación </span>
                                    </a>
                                    <a href="/Info_Contratos_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-file-contract"></i>
                                        <span>Contrato </span>
                                    </a>
                                    <a href="/Info_OOPT_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-language"></i>
                                        <span>OOPT</span>
                                    </a>
                                    <a href="/Info_experiencias_laborales_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-box-archive"></i>
                                        <span>Experiencia </span>
                                    </a>
                                    <a href="/Info_Desempeno_DB/{{idUser_id}}" class="link flex">
                                        <i class="fas fa-clipboard-check"></i>
                                        <span>Desempeños </span>
                                    </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 rounded p-5">
            <h1 class="fw-bold text-center mb-5"><strong>Info Resultados Oopt</strong></h1>

            <div class="row">
                <div class="col-md-3">
                    <a href="/agregar_oopt/{{idUser_id}}" class="link flex ">
                        <i class="fas fa-language"></i>
                        <span>Agregar OOPT </span>
                    </a>
                </div>

            </div>

            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">RESULTADO OOPT</th>
                        <th scope="col">FECHA PRESENTACION</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>


                    {% for oopt_info in oopt_info %}

                    <tr>
                        <td>{{ oopt_info.id_oopt }}</td>
                        <td>{{ oopt_info.Resultado_oopt }}</td>
                        <td>{{ oopt_info.Fecha_Presentacion_oopt }}</td>
                        <td><a href="/editar_oopt/{{ oopt_info.id_oopt }}" class="btn btn-info">Editar</a>
                        </td>

                        <td>
                            <a href="/eliminar_oopt/{{ oopt_info.id_oopt }}"
                                class="btn btn-danger btnEliminacion eliminar-btn">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    <tr>
                        {% endfor %}

                </tbody>

            </table>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const eliminarBotones = document.querySelectorAll(".eliminar-btn");

                    eliminarBotones.forEach((boton) => {
                        boton.addEventListener("click", function (event) {
                            event.preventDefault(); // Evita la acción por defecto del enlace

                            Swal.fire({
                                title: "¿Estás seguro de eliminar a este examen OOPT?",
                                text: "No podrás deshacer esta acción",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Sí, eliminar",
                                cancelButtonText: "No, cancelar",
                                reverseButtons: true,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Realiza la acción de eliminación aquí, por ejemplo, redirige a la página de eliminación
                                    window.location.href = boton.href;
                                } else if (result.dismiss === Swal.DismissReason.cancel) {
                                    Swal.fire("Cancelado", "El examen OOPT  no se Elimino", "error");
                                }
                            });
                        });
                    });
                });
            </script>






            <script src='static js/ges'></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            {% endblock contenido %}


            {% block titulo %}
            {% endblock titulo %}