{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Agrega las bibliotecas de Bootstrap y jQuery si las necesitas -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido con iframe</title>
</head>

<body>
    <!-- Main content -->

    <iframe title="GH" width="100%" height="1080"
        src="https://app.powerbi.com/view?r=eyJrIjoiZWE3ZjE4ZDUtYmQyZi00NzM5LTkyZjMtY2E0YjAwN2VlYTEwIiwidCI6Ijc1NTQ5YjY4LTQ5NzUtNDExZS1hMGZhLWQ5ZDNiODRlMGUzNyJ9&pageName=ReportSection5d2b64ba69c80af4e743"
        frameborder="0" allowFullScreen="true"></iframe>
</body>

</html>

{% endblock contenido %}

{% block titulo %}
{% endblock titulo %}