{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}


        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 rounded p-5" style="">
              <h1 class="fw-bold text-center mb-5"><strong>Usuarios</strong></h1>

              <a href="/signup/" class="btn btn-success">New user</a></td>

            <table class="table table-light table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">USERNAME</th>
                    <th scope="col">ESTADO</th>
                    <th colspan="2">OPCIONES</th>
                </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <th> {{ usuario.id }} </th>
                            <td>{{ usuario.first_name }}</td>
                            <td>{{ usuario.last_name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.username }}</td>
                            <th> {{ usuario.is_active }} </th>
                            <td><a href="/edicionUsuario/{{usuario.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/eliminarUsuario/{{usuario.id}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                <tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock contenido %}
    


    {% block titulo %}
    {% endblock titulo %}
        

