{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}


        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 rounded p-5" style="">
              <h1 class="fw-bold text-center mb-5"><strong>Usuarios</strong></h1>

            <table class="table table-primary table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <th> {{ usuario.id }} </th>
                            <td>{{ usuario.first_name }}</td>
                            <td>{{ usuario.last_name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.is_active }}</td>
                            <th> {{ usuario.username }} </th>
                        </tr>
                <tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock contenido %}
    


    {% block titulo %}
    {% endblock titulo %}
        

