<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>EL CENTRO CULTURAL COLOMBO AMERICANO </h1>
    <h1> NIT 890.300.445-0</h1>
    <p>{{certificados_info.id_Contrato}}</p>
    <p>{{certificados_info.Tipo_Contrato}}</p>
    <p>{{certificados_info.Cargo_Contrato}}</p>
    <p>{{certificados_info.Fecha_Inicio_Contrato}}</p>
    <p>{{certificados_info.Fecha_Fin_Contrato}}</p>
    <p>{{certificados_info.Ingreso_Mensaul}}</p>
    <p>{{certificados_info.INgreso_Mensual_Escrito}}</p>


</body>

</html>